*{
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: papayawhip;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 30px;
}
.img{
    margin: 20px;
}
ul{
    background-color: #ff6b6b;
    width: 100%;
    position: fixed;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
a{
    color: papayawhip;
    text-decoration: none;
    font-size: large;
    font-style: italic;
    border-right: 1px solid papayawhip;
    margin-right: 10px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 10px;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.contenido{
    background-color: #FF5757;
}
p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    padding: 5px 50px 10px 50px;
}
h2{
    color: papayawhip;
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 50px;
}
.productos{
    display: flex;
    padding: 10px 10px 30px 30px;
    justify-content: center;
    background-color: papayawhip;
}
section{
    padding: 20px 20px 30px 30px;
}
.imagen1{
    padding-left: 60px;
}
.imagen2{
    height: 240px;
    opacity: 1px;
    align-items: center;
}
h3{
    font-size:x-large;
    color: palevioletred;
    text-align: center;
    padding-bottom: 5px;
}

.desc{
    font-size: large;
    text-align: center;
    color: palevioletred;
}
.eleccion{
    display: flex;
}
footer{
    color: papayawhip;
    background-color: #FF5757;
    align-items: center;
    text-align: center;
}
#contac{
    color: papayawhip;
}
footer a{
    color: papayawhip;
    border-right: 1px solid papayawhip;
}